<footer class="bg-white py-8 shadow-md">
    <div class="container mx-auto grid grid-cols-2 lg:grid-cols-5 gap-6">
      <!-- Solutions -->
      <div>
        <h3 class="font-bold mb-3 text-gray-800">Our Products</h3>
        <ul class="space-y-2">
          <li><a routerLink="/notfound" class="text-gray-600 hover:text-purple-600">Pastries</a></li>
          <li><a routerLink="/notfound" class="text-gray-600 hover:text-purple-600">Cakes</a></li>
          <li><a routerLink="/notfound" class="text-gray-600 hover:text-purple-600">Bread</a></li>
          <li><a routerLink="/notfound"class="text-gray-600 hover:text-purple-600">Gift Baskets</a></li>
        </ul>
      </div>
  
      <!-- Services -->
      <div>
        <h3 class="font-bold mb-3 text-gray-800">Services</h3>
        <ul class="space-y-2">
          <li><a routerLink="/notfound" class="text-gray-600 hover:text-purple-600">Custom Orders</a></li>
          <li><a routerLink="/notfound" class="text-gray-600 hover:text-purple-600">Catering</a></li>
          <li><a routerLink="/notfound" class="text-gray-600 hover:text-purple-600">Delivery</a></li>
          <li><a routerLink="/notfound" class="text-gray-600 hover:text-purple-600">Special Events</a></li>
        </ul>
      </div>
      <!-- Company -->
      <div>
        <h3 class="font-bold mb-3 text-gray-800">Our Bakery</h3>
        <ul class="space-y-2">
          <li><a routerLink="/about" class="text-gray-600 hover:text-purple-600">About Us</a></li>
          <li><a routerLink="/notfound" class="text-gray-600 hover:text-purple-600">Blog</a></li>
          <li><a routerLink="/notfound" class="text-gray-600 hover:text-purple-600">Careers</a></li>
          <li><a routerLink="/contact" class="text-gray-600 hover:text-purple-600">Contact Us</a></li>
        </ul>
      </div>
  
       <!-- Legal -->
       <div>
        <h3 class="font-bold mb-3 text-gray-800">Legal</h3>
        <ul class="space-y-2">
          <li><a routerLink="/notfound" class="text-gray-600 hover:text-purple-600">Privacy Policy</a></li>
          <li><a routerLink="/notfound" class="text-gray-600 hover:text-purple-600">Terms of Service</a></li>
          <li><a routerLink="/notfound" class="text-gray-600 hover:text-purple-600">Refund Policy</a></li>
        </ul>
      </div>

  
      <!-- Subscribe to Newsletter -->
      <div>
        <h3 class="font-bold mb-3 text-gray-800">Subscribe to our newsletter</h3>
        <p class="text-gray-600 mb-4">The latest news, articles, and resources, sent to your inbox weekly.</p>
        <div class="flex">
            <input type="email" placeholder="Enter your email" class="p-2 border border-gray-300 rounded-l-lg w-full" [(ngModel)]="email" />
            <button (click)="subscribe()" class="bg-indigo-600 text-white px-4 py-2 rounded-r-lg">Subscribe</button>
        </div>
      </div>
    </div>
  
    <!-- Footer Bottom -->
    <div class="border-t mt-8 pt-6">
      <div class="container mx-auto flex justify-between items-center">
        <p class="text-gray-600">&copy; 2024 Your Company, Inc. All rights reserved.</p>
        <div class="flex space-x-4">
          <a href="https://www.facebook.com" class="text-gray-500 hover:text-indigo-600"><i class='bx bxl-facebook'></i></a>
          <a href="https://www.x.com" class="text-gray-500 hover:text-indigo-600"><i class='bx bxl-twitter'></i></a>
          <a href="https://www.instagram.com" class="text-gray-500 hover:text-indigo-600"><i class='bx bxl-instagram'></i></a>
          <a href="https://www.youtube.com" class="text-gray-500 hover:text-indigo-600"><i class='bx bxl-youtube'></i></a>
        </div>
      </div>
    </div>
  </footer>
  